<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v='   | append: site.github.build_revision | relative_url }}">

    <!-- Code for Copy-Button vvvvvvvvvvvvvvvvvvvvv -->
      <link rel="stylesheet" href="{{ '/assets/css/copybtn.css?v='  | append: site.github.build_revision | relative_url }}">
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

    <style>
      a.active {
        color: #444444;
        text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
      }
      #toc {
        float:right;
      } 
      #menu {
        float:left;
      }
      #active {
        color: #888;
      }
    </style>

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }} [ last built on {{ site.time }} ]</h2>
        <h2>{{ page.last-modified-date | date: '%B %d, %Y' }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div id="page">
      <div id="menu">
        {% comment %}
          <!--
            This is Menu #1 (try)
          -->
          {% for node in site.pages %}
            <p><a {% if node.url == page.url %}class="active"{% endif %} href="{{ node.url }}">{{ node.title }}</a></p>
          {% endfor %}
        {% endcomment %}

        <!-- This is Menu #2 (try) -->
        {% assign url_parts = page.url | split: '/' %}
        {% assign url_parts_size = url_parts | size %}
        {% assign rm = url_parts | last %}
        {% assign base_url = page.url | replace: rm %}

        {% assign sorted = site.pages | sort: 'url' %} <!-- sort alphabetically (case sensitive!) -->

        {% comment %}
        {% endcomment %}
        <!-- 
          <p>remove from Base URL:       {{rm}}</p>
          <p>site.github.repository_url: {{site.github.repository_url}}</p>

          <p>site.url:                   {{site.url}}</p>
          <p>site                        {{site}}</p>
          <p>Page.url:                   {{page.url}}</p>
          <p>page.path:                  {{page.path}}</p>
          <p>page                        {{page}}</p>
        -->

        <ul>        
        {% for node in sorted %} <!-- loop over all nodes (sorted) -->
          <!-- initialize variables for {{ node.url }} -->
          {% assign basesize            = base_url | size %}
          {% assign truncated_node_url  = node.url | truncate: basesize, '' %}
          {% assign node_url_parts      = node.url | split: '/' %}

          {% assign node_url_parts_size = node_url_parts | size %}
          {% assign filename            = node_url_parts | last %}
          {% assign dirtest             = "/" | append: filename | append: "/" %}

          <!-- decide, if menuitem shall be shown -->
          {% assign show = true %}
          {% if filename contains '.' %}    {% assign show = false %}{% endif %}
          {% if filename contains '.html' %}{% assign show = true %}{% endif %}
          {% if filename == null %}         {% assign show = true %}{% endif %}

          <!--
            <p>node.url:            {{node.url}}</p>
            <p>node.title:          {{node.title}}</p>
            <p>base_url:            {{base_url}}</p>
            <p>node_url_parts_size: {{node_url_parts_size}}<p>
            <p>length of base_url:  {{base_url | size}}</p>
            <p>XX: {{base_url | replace_first: node.url }}</p>
            <p>YY: {{ truncated_node_url }}</p>
            <p>filename:            #{{ filename }}#</p>
            <p>dirtest:             #{{ dirtest  }}#</p>

            <p>show:                #{{ show     }}#</p>
          -->

          {% if show == true %}
              {% capture count %}{{ node_url_parts_size }}{% endcapture %}
              <li>{% for x in (3..count) %}&nbsp;>&nbsp;{% endfor%}<a href='{{site.url}}{{node.url}}'>{{node.title}}</a></li>

            {% if filename != 'index.html' %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        {% comment %}
          <!--
            This is Menu #3 (try)
          -->
          {% include nav.html nav=page.nav %}
        {% endcomment %}
      </div>

      <div id="toc">          
          {% include toc.html html=content %}
      </div>
      <div id="main" class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <footer>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/pages-themes/hacker">Theme: Hacker</a>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </footer>

    <!-- Code for Copy-Button vvvvvvvvvvvvvvvvvvvvv -->
    <script                 src="{{ '/assets/clipboard.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script                 src="{{ '/assets/copy.js?v='          | append: site.github.build_revision | relative_url }}"></script>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
  </body>
</html>
