<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v='   | append: site.github.build_revision | relative_url }}">

    <!-- Code for Copy-Button vvvvvvvvvvvvvvvvvvvvv -->
      <link rel="stylesheet" href="{{ '/assets/css/copybtn.css?v='  | append: site.github.build_revision | relative_url }}">
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

    <style>
      a.active {
        color: #b5e853;;
        text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
      }
      #toc {
        font-size: 13px;
        width: 20%;
        float:right;
      }
      #menu {
        font-size: 13px;
        width: 20%;
        float:left;
      }
      #active {
        color: #888;
      }
    </style>

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }} [ last built on {{ site.time }} ]</h2>
        <h2>{{ page.last-modified-date | date: '%B %d, %Y' }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div id="page">
      <div id="menu">
        {% assign debug = 1 %}
        {% comment %}
          <!--
            This is Menu #1 (try)
          -->
          {% for node in site.pages %}
            <p><a {% if node.url == page.url %}class="active"{% endif %} href="{{ node.url }}">{{ node.title }}</a></p>
          {% endfor %}
        {% endcomment %}

        <!-- This is Menu #2 (try) -->
        {% assign page_url_parts      = page.url        | split: '/' %}
        {% assign page_url_parts_size = page_url_parts  | size %}
        {% assign page_path_parts     = page.path       | split: '/' %}                        <!-- split node path in parts -->
        {% assign page_level          = page_url_parts  | size | minus: 1 | at_last: 1 %}      <!-- count number of parts = level of current node -->

        {% assign rm                  = page_url_parts  | last %}
        {% assign base_url            = page.url        | replace: rm %}
        {% assign compare_page_url    = "µ"             | append: page.url %}                  <!-- current PAGE plus start-character - for later comparison -->

        {% assign sorted = site.pages        | sort: 'url' %}      <!-- sort alphabetically (case sensitive!) -->

        {% comment %}
        {% endcomment %}
        {% if debug == 1 %}
          <!-- 
            <p>############ page variables ############</p>
            <p>remove from Base URL:       {{rm}}</p>
            <p>site.github.repository_url: {{site.github.repository_url}}</p>

            <p>compare_page_url            {{compare_page_url}}</p>
            <p>site.url:                   {{site.url}}</p>
            <p>site                        {{site}}</p>
            <p>page.url:                   {{page.url}}</p>
            <p>page.path:                  {{page.path}}</p>
            <p>page_level:                 {{page_level}}</p>
            <p>page                        {{page}}</p>
          -->
        {% endif %}

        <ul>        
        {% for node in sorted %} <!-- loop over all nodes (sorted) -->
          <!-- initialize variables for {{ node.url }} -->
          {% assign compare_node_url = "µ"             | append: node.url %}                  <!-- current NODE plus start-character - for later comparison -->
          {% assign node_url_parts   = node.url        | split: '/' %}                        <!-- split node url in parts -->
          {% assign node_path_parts  = node.path       | split: '/' %}                        <!-- split node path in parts -->
          {% assign node_level       = node_url_parts  | size | minus: 1 | at_least: 1 %}     <!-- count number of parts = level of current node -->
          {% assign filename         = node_path_parts | last %}                              <!-- last part is filename -->

          <!-- decide, if menuitem shall be shown -->
          {% assign show = true %}                                                                           <!-- by default show menu entry -->
          {% if node_level == 1 %}                                {% assign show = true %}  {% endif %}      <!-- show everything on 1st level -->
          {% unless compare_page_url contains compare_node_url %} {% assign show = true %}  {% endunless %}  <!-- TO BE CONTINUED ... -->
          {% if filename contains '.' %}                          {% assign show = false %} {% endif %}      <!-- if filename contains a dor, then it is currently a css or whatever file - HIDE! -->
          {% if filename contains '.md' %}                        {% assign show = true %}  {% endif %}      <!-- ... but if it is a .html file, then show it -->


          {% comment %}
            {% if filename == null %}          {% assign show = true %}  {% endif %} <!-- in case of a directory, show menu item - OBSOLETE ? -->
          {% endcomment %}

          {% if debug == 1 %}
          <!-- 
            <p>############ node variables ############</p>
            <p>rel_url:              {{rel_url}}</p>
            <p>node.url:             {{node.url}}</p>
            <p>node.path:            {{node.path}}</p>
            <p>compare_node_url      {{compare_node_url}}</p>
            <p>compare_page_url      {{compare_page_url}}</p>
            <p>node_url_parts[0]     #{{node_url_parts[0]}}#</p>
            <p>node_url_parts[1]     #{{node_url_parts[1]}}#</p>
            <p>node_url_parts[2]     #{{node_url_parts[2]}}#</p>
            <p>node_url_parts[3]     #{{node_url_parts[3]}}#</p>
            <p>node.title:           {{node.title}}</p>
            <p>base_url:             {{base_url}}</p>
            <p>node_level:           {{node_level}}<p>
            <p>filename:             #{{ filename }}#</p>
            <p>show:                 #{{ show     }}#</p>
          -->
          {% endif %}

          {% if show == true %}
              {% capture count %}{{ node_level }}{% endcapture %}
              <li>
                {% for x in (2..count) %}&nbsp;&nbsp;{% endfor%}<a {%if node.url == page.url %}class=active{% endif %} href='{{site.url}}{{node.url}}'>{{node.title}}</a>       <!-- add 2 spaces for each level deeper than 1 -->
              </li>

            {% if filename != 'index.html' %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        {% comment %}
          <!--
            This is Menu #3 (try)
          -->
          {% include nav.html nav=page.nav %}
        {% endcomment %}
      </div>

      <div id="toc">          
          {% include toc.html html=content %}
      </div>
      <div id="main" class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <footer>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/pages-themes/hacker">Theme: Hacker</a>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </footer>

    <!-- Code for Copy-Button vvvvvvvvvvvvvvvvvvvvv -->
    <script                 src="{{ '/assets/clipboard.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script                 src="{{ '/assets/copy.js?v='          | append: site.github.build_revision | relative_url }}"></script>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
  </body>
</html>
