<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <style>
      a.active {
        color: #444444;
        text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
      }
      #toc {
        float:right;
      } 
      #menu {
        float:left;
      }
      #active {
        color: #888;
      }
    </style>

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <h2>{{ page.last-modified-date | date: '%B %d, %Y' }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div id="page">
      <div>
        <p>---------------</p>
        {% for node in site.pages %}
          <p><a {% if node.url == page.url %}class="active"{% endif %} href="{{ node.url }}">{{ node.title }}</a></p>
        {% endfor %}
        <p>---------------</p>

        {% assign url_parts = page.url | split: '/' %}
        {% assign url_parts_size = url_parts | size %}
        {% assign rm = url_parts | last %}
        {% assign base_url = page.url | replace: rm %}

        {% assign sorted = site.pages | sort: 'url' %}

        <p>remove from Base URL: {{rm}}</p>
        <p>Page URL: {{page.url}}</p>
        <p>Site URL: {{site.url}}</p>
        <p>site.github.repository_url: {{site.github.repository_url}}</p>
        <p>page.path: {{page.path}}</p>
        <p>site {{site}}</p>
        <p>page {{page}}</p>

        <ul>        
        {% for node in sorted %}
          {% if node.url contains base_url %}
            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% assign filename = node_url_parts | last %}

            {% if  filename != 'index.html' and node.title %}

              {% capture count %}{{ node_url_parts_size }}{% endcapture %}
              <li>{% for x in (3..count) %}&nbsp;{% endfor%}<a href='{{site.url}}{{node.url}}'>{{node.title}}</a></li>

            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
          </ul>

          <p>---------------</p>
        </div>
      <div id="menu">
        {% include nav.html nav=page.nav %}
      </div>
      <div id="toc">          
          {% include toc.html html=content %}
      </div>
      <div id="main" class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <footer>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/pages-themes/hacker">Theme: Hacker</a>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </footer>
  </body>
</html>
